version: "3.8"
services:
  postgres:
    image: postgres:alpine
    ports:
      - "9092:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=root
      - POSTGRES_DB=serverless-node-api
  elasticmq:
    image: softwaremill/elasticmq:latest
    ports:
      - "9093:9324"
      - "9094:9325" # enable ElasticMQ dashboard
    volumes:
      - ./elasticmq.conf:/opt/elasticmq.conf
volumes:
  pgdata:
