service: serverless-node-api
frameworkVersion: "3"
useDotenv: true
provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, "development"}
  region: ${opt:region, "us-east-1"}
  memorySize: ${env:PROVIDER_MEMORY_SIZE}
  timeout: ${env:PROVIDER_TIMEOUT}
plugins:
  - serverless-offline
  - serverless-dotenv-plugin
  - serverless-s3-local
custom:
  serverless-offline:
    host: ${env:SLS_OFFLINE_HOST}
    httpPort: ${env:SLS_OFFLINE_HTTP_PORT}
  s3:
    host: ${env:S3_HOST}
    port: ${env:S3_PORT}
    directory: ./s3-local
resources:
  Resources:
    LocalBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: local-bucket
functions:
  authorizer:
    handler: src/authorizer.handler
  login:
    handler: src/login.handler
    events:
      - http:
          path: login
          method: post
          cors: true
  getUsers:
    handler: src/getUsers.handler
    events:
      - http:
          path: constants/users
          method: get
          cors: true
          authorizer: authorizer
  s3PutObject:
    handler: src/s3PutObject.handler
    events:
      - http:
          path: s3
          method: put
          cors: true
          authorizer: authorizer
  s3EventResponse:
    handler: src/s3EventResponse.handler
    events:
      - s3:
          bucket: local-bucket
          event: s3:*
